/* You can add global styles to this file, and also import other style files */
// 1. Your custom variables and variable overwrites.

// 2. Import default variables and available mixins.
@import "../app/node_modules/uikit/src/scss/variables-theme.scss";
@import "../app/node_modules/uikit/src/scss/mixins-theme.scss";

// 4. Import UIkit.
@import "../app/node_modules/uikit/src/scss/uikit-theme.scss";


// personal fonts
@font-face{
  font-family: 'AmericanCaptain';
  src: url('assets/fonts/American_Captain.otf') format('opentype');
}


html,
body {
  height: 100%;
  background-color: #303030;
}

body {
  margin: 0;
  font-family: Lato, "Helvetica Neue", sans-serif;
}


.confirmed-text {
  color: orange
}

.deaths-text {
  color: red
}

.recovered-text {
  color: green;
}

.mapboxgl-popup-content {
  background-color: #303030 !important;
}



#page-footer {
  background-color: rgb(54,54,54);
  bottom: 0 !important;
}


.transparent-card{
  background-color: rgba($color: #000000, $alpha: 0.0) !important;
}
