/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Lato, "Helvetica Neue", sans-serif; }


.confirmed-text{
  color: orange
}

.deaths-text{
  color: red
}

.recovered-text{
  color: green;
}

.graphics-evol {
  padding: 20px;
  background-color: #191a1a ;
}
