<div fxFlex="100" fxLayout="column" fxLayout.xs="row" fxLayout.sm="row" class="info-comp" ngClass.xs="info-comp-xs"
  ngClass.sm="info-comp-xs" fxFlex.xs="100">

  <div fxFlex="35" fxLayoutAlign="center center" fxLayout="column" class="info-box">
    <mat-card>
      <mat-card-title class="info-title"> Total cases</mat-card-title>
      <mat-card-content class="info-value">
        <h3 [countUp]="store.dataset.totalCases" [options]="counterOptions">0</h3>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="35" fxLayoutAlign="center center" fxLayout="column" class="info-box">
    <mat-card>
      <mat-card-title class="info-title"> Total deaths</mat-card-title>
      <mat-card-content class="info-value">
        <h3 [countUp]="store.dataset.totalDeaths" [options]="counterOptions">0</h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="30" fxLayoutAlign="center center" fxLayout="column" class="info-box">
    <mat-card>
      <mat-card-title class="info-title"> Fatality rate </mat-card-title>
      <mat-card-content class="info-value">
        <h3 [countUp]="store.dataset.fatalityRate" [options]="counterOptionsDecimals">0</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>
