<footer class="uk-card-secondary">


  <div class="uk-child-width-1-1@m uk-grid-small uk-grid-match" uk-grid>

    <div>
      <div class="uk-card transparent-card uk-card-body uk-text-center uk-padding-remove-bottom">

        <div class="uk-width-expand">
          <img src="assets/images/logo_darkback.svg" width="130" height="60" uk-svg>

          <p class="uk-text-meta uk-margin-remove-top uk-text-center"> Developed with <span uk-icon="heart" class="heart-icon"></span> by
            <a [href]="media.github" class="uk-text-meta uk-margin-remove-top uk-margin-small-left">@aitahtman </a>
            with the dataset provided by Johns Hopkins CSSE

          </p>
        </div>

      </div>
    </div>
  </div>
</footer>
