<div class="uk-child-width-1-2@s uk-grid-match uk-height-1-1" uk-grid>
  <div>
    <div class="uk-card uk-card-secondary uk-card-body uk-padding-remove">
      <app-map></app-map>
    </div>
  </div>

  <div>
    <div>
      <div class="uk-card uk-card-primary uk-card-body uk-padding-remove">
        <app-evolution-graph></app-evolution-graph>
      </div>
    </div>
    <div>
      <div class="uk-card uk-padding-remove uk-card-body">
        <app-info></app-info>
      </div>
    </div>
  </div>


</div>
