<div class="uk-section  uk-padding-remove">
  <div class="uk-child-width-1-2@m   " uk-grid>

    <!-- MAP -->
    <div>
      <div class="uk-card uk-card-secondary uk-card-body uk-padding-remove">
        <app-map [height]=mapHeight></app-map>
      </div>
    </div>
    <!-- FIN MAP -->

    <!-- INFO  -->
    <div>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <app-info></app-info>
        </div>
      </div>
    </div>
    <!-- FIN INFO -->


  </div>
</div>
